@import '../../styles/index';
.background {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-modal-background);
  transition: opacity 0.2s linear 0s;
  &[aria-hidden='true'] {
    opacity: 0;
    pointer-events: none;
  }
}
.component {
  position: absolute;
  z-index: 5001;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: var(--max-width);
  background-color: var(--color-background);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0 1rem rgba(#000, 0.5);
  transition: transform 0.2s ease-out 0s;
  will-change: transform, opacity, box-shadow;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    transform: translate(0, 100%);
    background: var(--color-background);
  }

  .closeBtn {
    position: absolute;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    border-radius: 100%;
    cursor: pointer;
    &:active {
      transform: translate(0, 1px);
    }
  }

  .title {
    position: relative;
    padding: 1rem 4.5rem 1rem 1rem;
    min-height: 4.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 1rem;
      right: 1rem;
      border-bottom: 1px solid rgba(#000, 0.1);
    }
  }

  .content {
    position: relative;
    max-height: 50rem;
    overflow: hidden;
  }

  &[aria-hidden='true'] {
    transform: translate(0, calc(100% + 40px));
    box-shadow: 0 0 0 rgba(#000, 0.7);
    pointer-events: none;
    opacity: 0;
    transition: transform 0.2s ease-in 0s, opacity 0s linear 0.2s,
      box-shadow 0.2s linear 0.2s;
  }
}
