.component {
  position: relative;
  margin: 0 auto;
  padding: 1rem 1.2rem;
  line-height: 1.2;
  max-width: var(--max-width);

  display: flex;
  align-items: center;

  backdrop-filter: blur(2px);

  color: var(--color-notification-text);
  background-color: var(--color-notification-background);
  border: 1px solid var(--color-notification-border);
  box-shadow: 0 2px 10px var(--color-notification-shadow);
  border-radius: 0.3rem;

  &[data-type='info'] {
    background-color: rgba(rgb(0, 121, 202), 0.9);
  }

  .content {
    flex: 1;
    position: relative;
    // text-align: center;
  }
}
