@import '../../styles/index';

.notifyContainer {
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;

  &.closed {
    animation: disappear 0.3s ease-out 0s forwards;
    > * {
      pointer-events: none;
    }
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
