@import '../../styles/index';

.notifyContainer {
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.7rem;
  pointer-events: none;

  &.closed {
    animation: disappear 0.4s ease-out 0s forwards;
    > * {
      pointer-events: none;
    }
  }
}

.notification {
  animation: appear 0.2s ease-out 0s forwards;
  will-change: opacity, transform;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(0, -1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
