@import '../../styles/index';

.modal {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(#000, 0.5);
  backdrop-filter: blur(0.3rem);

  animation: fade-in 0.7s linear 0s;

  &[aria-hidden='true'] {
    opacity: 0;
    animation: none;
    pointer-events: none;
    transition: opacity 0.2s linear 0s;
  }
}

.component {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(100% - 5rem);
  max-width: calc(500px - 5rem);
  transform: translate(-50%, -50%);

  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 2px 10px rgba(#000, 0.7);
  border-radius: 0.5rem;
  overflow: hidden;

  .header {
    position: relative;
    margin: 0;
    padding: 0.7rem;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: #222;
  }

  .content {
    position: relative;
    padding: 1rem;
    max-height: calc(100vh - 23rem);
    overflow: auto;
    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .footer {
    position: relative;
    margin: 0;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(#000, 0.3);
    background: #eee;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
