:root {
  --max-width: 430px;
  --header-height: 3.5rem;

  --color-text: #111;
  --color-background: #fff;

  --color-primary: rgb(0, 124, 226);

  --color-gray-1: rgb(79, 86, 92);
  --color-menu-title: rgb(157, 171, 180);
  --color-line: rgb(228, 234, 238);
  --color-text-blue: rgb(112, 189, 240);
  --color-link: rgb(79, 138, 255);

  --color-button-background: #222;
  --color-button-border: rgba(0, 0, 0, 0.5);
  --color-button-noframe: #111;
  --color-button-noframe-background: #fff;
  --color-button-secondary: #111;
  --color-button-secondary-background: #fff;
  --color-button-secondary-border: rgba(0, 0, 0, 0.3);
  --color-modal-background: rgba(0, 0, 0, 0.2);
  --color-view-background: rgb(243, 244, 245);
  --color-menuitem-background: var(--color-background);
  --color-menuitem-background-active: rgb(230, 236, 240);
  --color-checkbox-background: #ddd;
  --color-tabnavigator-border: #ddd;
  --color-closebutton-background: rgba(0, 0, 0, 0.4);

  // ANIMATION
  --ease-back-in: cubic-bezier(0.59, -0.21, 0.84, 0.58);
  --ease-back-out: cubic-bezier(0.17, 0.67, 0.49, 1.18);

  // DARK THEME
  &[data-theme='dark'] {
    --color-text: #fff;
    --color-background: #111;
    --color-line: #333;
    --color-button-background: #333;
    --color-button-border: rgba(255, 255, 255, 0.15);
    --color-button-noframe: #eee;
    --color-button-noframe-background: #333;
    --color-button-secondary: #eee;
    --color-button-secondary-background: #333;
    --color-button-secondary-border: rgba(255, 255, 255, 0.15);
    // --color-modal-background: rgba(255, 255, 255, 0.1);
    // --color-view-background: #171717;
    // --color-menuitem-background: #222;
    // --color-menuitem-background-active: rgb(58, 61, 63);
    --color-checkbox-background: #555;
    --color-tabnavigator-border: #333;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-display: fallback;

  color: var(--color-text);
  background-color: var(--color-background);

  -webkit-tap-highlight-color: transparent;
  // font-feature-settings: 'palt' 1;
  -webkit-touch-callout: none;
  user-select: none;

  height: 100vh;

  transition: color 0.2s linear 0s, background-color 0.2s linear 0s;

  overflow: hidden;
  &[data-initialized] {
    background: var(--color-background) none repeat center center;
    background-size: 10rem 10rem;
  }
}

/* Safari用のハックは、Chromeに適用されないようにする */
@supports (-webkit-touch-callout: none) {
  body {
    /* Safari用のハック */
    height: -webkit-fill-available;
  }
}

* {
  font: inherit;
  color: inherit;
  line-height: inherit;
  word-wrap: break-word;
  letter-spacing: inherit;
  overflow-wrap: break-word;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}

p {
  letter-spacing: 0.05em;
}

img,
svg {
  vertical-align: top;
  height: auto;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
}

// ========================================
// TABLET, PC
// ========================================
@media (min-width: 500px) {
  html {
    font-size: 14px;
  }
}
