@import '../styles/index';

.component {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  width: 100%;
  transform: translate(-50%, 0);
  box-shadow: 0 0 0.7rem rgba(#000, 0.3), 0 0 3rem rgba(#000, 0.5);
  overflow: hidden;
}

.topView {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .topViewTitle {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--header-height);

    .topViewTitleLeft,
    .topViewTitleRight {
      display: flex;
      align-items: center;
      width: 4rem;
    }
    .topViewTitleRight {
      justify-content: flex-end;
    }
    .topViewTitleContent {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .appName {
      font-weight: 700;
      font-size: 1.2rem;
      text-align: center;
    }
  }

  .topViewContent {
    position: relative;
    flex: 1;
  }
}

.navigationControllerModal {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--color-modal-background);
  transition: opacity 0.2s linear 0s;
  cursor: pointer;
  &[aria-hidden='true'] {
    opacity: 0;
    pointer-events: none;
  }
}
.navigationController {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  will-change: opacity;
  transition: opacity 0.3s ease-out 0s;
  &[aria-hidden='true'] {
    opacity: 0;
    pointer-events: none;
  }
}

.navigationModalContainer {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 100%;
  max-width: var(--max-width);
  height: 100%;

  .navigationModal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: transform 0.25s ease-out 0s;
    will-change: transform;
    &[aria-hidden='true'] {
      pointer-events: none;
      transform: translate(0, 100%);
    }
  }

  &[aria-hidden='true'] {
    pointer-events: none;
  }
}

.notFound {
  padding: 2em;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

// ========================================
// TABLET, PC
// ========================================
@media (min-width: 500px) {
  .navigationController {
    max-width: var(--max-width);
    border-left: 1px solid rgba(#000, 0.2);
    box-shadow: 0 0 2rem rgba(#000, 0.5);

    &[aria-hidden='true'] {
      box-shadow: 0 0 0 rgba(#000, 0.5);
    }
  }
  .navigationModalContainer {
    .navigationModal {
      box-shadow: 0 0 2rem rgba(#000, 0.5);

      &[aria-hidden='true'] {
        box-shadow: 0 0 0 rgba(#000, 0.5);
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
